
h2{
  font-size: 1.5rem;
}

@media screen and (min-width: 601px){
h1{
  font-size: 3vw;
}}

@media screen and (max-width: 600px){
h1{
  font-size: 5vw;
}}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: black;
  text-decoration: underline;
}

body{margin:0;
  font-family: "Arial Narrow"
}

nav {
  grid-column: 1/4;
  display:flex;
  justify-content: space-evenly;
  padding: 2rem;
  /* background-color: orange; */
}

nav div{
  width:50%;
  border: 1px ;
  height:1vh;}

.right{
  text-align: right;
}

@media screen and (min-width: 601px){
.images{
  padding:2%;
  height:60vh;
  overflow:auto;
  grid-column-start: 1;
  grid-column-end: 4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  /* background: blue; */
}}
@media screen and (max-width: 600px){
.images{
  padding:2%;
  height:100%;
  overflow:auto;
  grid-column-start: 1;
  grid-column-end: 4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  /* background: blue; */
}}

@media screen and (min-width: 601px){
.images img{
  height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}}

@media screen and (max-width: 600px){
.images img{
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}}


@media screen and (min-width: 601px){
.projects{
  padding-left: 17rem;
  padding-right: 17rem;
  height:10vh;
  grid-column-start: 1;
  grid-column-end: 4;
  /* background: green; */
  text-align: center;
  font-size: 2rem;
}}

@media screen and (max-width: 600px){
.projects{
  padding-top:2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height:10vh;
  grid-column-start: 1;
  grid-column-end: 4;
  /* background: green; */
  text-align: center;
  font-size: 2rem;
}}


/* .preview {
  display: none;
}

.projtext:hover + .preview {
  display: block;
} */

@media screen and (min-width: 601px){
.projbody{
  padding:2rem;
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 60%;
  /* background: blue; */
}}
@media screen and (max-width: 600px){
.projbody{
  padding:2rem;
  overflow: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 80%;
  /* background: blue; */
}}

@media screen and (min-width: 601px){
.projbody img{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}}
@media screen and (max-width: 600px){
.projbody img{
  width:100%;
  margin-left: auto;
  margin-right: auto;
}}
